.auth__main {
  @include flex-center(column);
  background-color: $primary;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.auth__box-container {
  @include flex-center(column);
  background-color: white;
  box-shadow: 0px 3px $dark-grey;
  border-radius: 2px;
  padding: 20px;
  max-width: 300px;
  width: 100%;
}

.auth__box-container {
  * + * {
    margin-top: 16px;
  }
  form {
    @include flex-center(column);
  }
  button{
    width: 200px;
  }
}

.auth__input-group {
  $border-radius: 3px;
  @include flex-center(column);
  input {
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 15px 20px;
    font-size: 1.1rem;
    width: 200px;
    border: 1px solid gray;
    border-top: 1px solid gray;
    border-bottom: none;
    outline: none;
    transition: box-shadow 0.2s, border-color 0.2s;

    &:first-child {
      border-radius: $border-radius $border-radius 0 0;
    }
    &:last-child {
      border-radius: 0 0 $border-radius $border-radius;
      border-bottom: 1px solid gray;
    }
    &:focus {
      z-index: 1;
      box-shadow: 0 0 2px 3px transparentize($primary, 0.5);
      border-color: $primary;
    }
  }
}
